<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="$Microsoft.CrmSdk.CoreAssemblies.Version$" targetFramework="net$Microsoft.CrmSdk.CoreAssemblies.TargetFramework$" />
  <package id="PL.DynamicsCrm.DevKit.Cli" version="$PL.DynamicsCrm.DevKit.Cli.Version$" />
  <package id="PL.DynamicsCrm.DevKit.Analyzers" version="$PL.DynamicsCrm.DevKit.Analyzers.Version$" />
</packages>