<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CrmSdk.CoreTools" version="$Microsoft.CrmSdk.CoreTools.Version$" />
  <package id="PL.DynamicsCrm.DevKit.Cli" version="$PL.DynamicsCrm.DevKit.Cli.Version$" />
  <package id="PL.DynamicsCrm.DevKit.Analyzers" version="$PL.DynamicsCrm.DevKit.Analyzers.Version$" />
</packages>